* {
	// &::-webkit-scrollbar {

	// 	width: 13px;
	// }

	// &::-webkit-scrollbar-track {
	// 	border-radius: 9px;
	// 	background: #E9E9E9;
	// }

	// &::-webkit-scrollbar-thumb {
	// 	border-radius: 9px;
	// 	background: #B1B1B1;
	// }
}

html,
body {
	font-family: var(--bai), sans-serif;
	height: 100%;
	line-height: 1.25;
	scroll-behavior: smooth;
}

.my-swiper {

	padding: 42px 15px !important;
	margin: -42px -15px;
}

.swiper-slide {}

body {
	background: url('../../../images/bg.svg') top/cover no-repeat;
	color: var(--blackText);

	@media(max-width:767.98px) {
		background: url('../../../images/bg-mobile.svg') top/cover no-repeat;

	}

	&.lock {
		overflow: hidden;

		@supports (overflow: clip) {
			overflow: clip;
		}
	}
}

.container-lg {
	max-width: 1630px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea,
button,
input {
	border: none;
	outline: none;
	background-color: transparent;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	max-width: 100vw;

	// touch-action: none;
	// -ms-touch-action: none;
	// -webkit-overflow-scrolling: touch;
	@supports (overflow: clip) {
		overflow: clip;
	}

	main {
		flex: 1;
	}
}

.react-tooltip {
	max-width: 190px !important;
	background-color: #fff !important;
	color: #000 !important;
	opacity: 1 !important;
	word-wrap: break-word !important;
	font-size: 12px !important;
	padding: 10px 8px 10px 30px !important;
}

.page-content {
	padding: 150px 0;
	position: relative;

	@media(min-width:768px) {

		&::before,
		&::after {
			position: absolute;
			content: '';
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			aspect-ratio: 1/1;
			z-index: -1;
		}

		&::before {
			background-image: url('../../../images/decors/ball-3.png');
			width: 250px;
			top: 90px;
			left: 0;
			translate: -50% 0;
		}

		&::after {
			background-image: url('../../../images/decors/ball-2.png');
			width: 290px;
			top: 50vh;
			right: 0;
			translate: 50% 0;
		}
	}




	&.lock {
		overflow: hidden;
	}

	@media(max-width:767.98px) {
		padding: 89px 0;
	}
}

#trades-tooltip {
	top: auto !important;
	bottom: calc(100% + 1rem);
}