.nav {
	@media(min-width:992px) {
		display: none;
	}

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	&__inner {
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
		background: #FAFAFA;
		padding: 20px 24px;
		display: flex;
		align-items: center;
		gap: 128px;
	}

	&__add {
		position: absolute;
		bottom: 4px;
		left: 50%;
		translate: -50% 0;
		width: 68px;
		overflow: hidden;
		height: 68px;
		border-radius: 50%;
		color: #FFF;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		// font-style: normal;
		// line-height: normal;
		// text-transform: uppercase;

		// span {
		font-weight: 700;
		font-size: 24px;
		// position: relative;
		z-index: 1;
		line-height: 1;

		// }
		span {
			display: block;
			line-height: 58%;
		}

		background: linear-gradient(61deg, #4757E6 8.43%, #8E54E9 53.45%, #FA0AC5 92.58%);
	}

	&__menu {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	:global {
		.selected {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: calc(100% + 16px);
				width: 1.5rem;
				height: 4px;
				border-radius: 0 0 3px 3px;
				background: var(--icons-gradient, linear-gradient(90deg, #4757E6 0%, #8E54E9 76.5%));
			}
		}
	}
}