.menu {


	&__body {
		@media(max-width:991.98px) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 35px;
			height: 0;
			transition: .2s ease-in-out;
			overflow: hidden;
			border-radius: 0px 0px 12px 12px;
			border: 1px solid rgba(247, 247, 247, 0.00);
			background: #fff;
			box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
			backdrop-filter: blur(12.5px);
		}

		&.show {
			padding-top: 93px;
			height: 100vh;


		}
	}

	&__list {
		display: flex;
		align-items: center;

		gap: 36px;

		@media(max-width:1150px) {
			gap: 36px 1rem;
		}

		@media(max-width:991.98px) {
			flex-direction: column;
		}

		li {

			&:hover,
			&.active {
				a {

					@media(min-width:768px) {
						border-bottom-color: #232323;
					}
				}

				:global {
					.link {
						font-weight: 700;

						&--dashboard {
							&::before {
								background-image: url('../../images/icons/dashboard-active.svg');
							}
						}

						&--wallets {
							&::before {
								background-image: url('../../images/icons/wallet-active.svg');
							}
						}

						&--investments {
							&::before {
								background-image: url('../../images/icons/invest-active.svg');
							}
						}

						&--statistics {
							&::before {
								background-image: url('../../images/icons/stat-active.svg');
							}
						}

						&--affiliate-program {
							&::before {
								background-image: url('../../images/icons/people-active.svg');
							}
						}
					}
				}
			}
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 61px;
		justify-content: center;

		@media(min-width:768px) {
			display: none;
		}
	}

	&__btnGradient {
		padding: 7px 15px !important;
		height: 51px;
		color: var(--Typography-Off-White, #F4F4F4);
		font-size: 1rem !important;
		font-style: normal;
		font-weight: 600;
		line-height: 231.25%;
		text-transform: uppercase;
	}

	&__btn {
		position: relative;
		height: 51px;
		padding: 7px 15px;


		&::before {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			padding: 3px;
			border-radius: 12px;
			content: '';
			background: linear-gradient(to right, #4757e6, #8e54e9 50%, #bb0afa 100%);
			-webkit-mask: linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
		}

		span {
			background: linear-gradient(90deg, #4757E6 0.04%, #8E54E9 57.39%, #FA0A9A 118.44%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 231.25%;
			text-transform: uppercase;
		}
	}
}

.link {
	padding: 6px 12px;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: #232323;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color 0.2s ease-in-out;
}

.mobileBtn {
	position: relative;
	width: 31px;
	height: 22px;
	z-index: 10;


	&::before,
	&::after {
		content: '';
	}

	&::before,
	&::after,
	span {
		width: 100%;
		left: 0;
		border-radius: 3px;
		height: 3px;
		position: absolute;
		background-color: #ADADAD;
		transition: .2s ease-in-out;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	span {
		top: 10px;
	}

	&.active {
		&::after {
			width: 50%;
		}
	}

	@media(min-width:992px) {
		display: none;
	}
}