.invest {
	gap: 29px;
	flex-direction: column;
	padding: 32px 16px;

	@media(min-width:992px) {
		min-height: 413px;
	}

	&,
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;

	}

	&__btn {
		border-radius: 50%;
		border: 7px solid #E9EBF3;
		color: #E9EBF3;
		flex: 0 0 117px;
		width: 117px;
		height: 117px;
		position: relative;
		overflow: hidden;
		transition: .2s ease-in-out;

		svg {
			position: relative;
			z-index: 1;
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			background-image: linear-gradient(to right, #4757E6, #8E54E9, #FA0A9A);
			opacity: 0;
			transition: .2s ease-in-out;
		}

		&:hover {
			color: #fff;
			border: none;

			&::after {
				opacity: 1;
			}
		}
	}

	&__text {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 300;
	}
}