.basic {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
	padding-top: 15px;
	overflow: hidden;


	&__label {
		right: 0;
		top: 0;
		border-radius: 0px 12px;
		background: var(--Button-gradient-1, linear-gradient(90deg, #4757E6 0%, #8E54E9 48.44%, #FA0A9A 100%));
		box-shadow: 0px 5px 10px 0px rgba(149, 149, 149, 0.20);
		padding: 20px 60px;
		text-transform: uppercase;
		font-size: 18px;
		color: #F4F4F4;
		position: absolute;
	}

	&__line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		@media(max-width:1300px) {

			&:nth-child(3) {
				justify-content: center;
				flex-direction: column;
			}
		}

		@media(max-width:767.98px) {
			justify-content: center;

			&:nth-child(3) {
				flex-direction: column;
			}
		}
	}

	&__lineSm {
		font-size: 14px;
		.total{
			&:first-child{
				.total{
					&__info{
						text-align: left;
					}
				}
			}
			&:last-child{
				.total{
					&__info{
						text-align: right;
					}
				}
			}
		}
	}

	&__switcher {
		display: flex;
		flex-direction: column;
		gap: 27px;
	}
}

.total {
	text-transform: uppercase;
	line-height: normal;

	&__title {
		color: var(--grey);
		font-weight: 700;
	}

	&__info {
		text-align: center;


		.accent {

			color: var(--lightGreen);
		}
	}
}

.headItem {
	display: flex;
	gap: 10px;
	align-items: center;

	&__icon {
		border-radius: 50%;
		overflow: hidden;
		width: 48px;
		height: 48px;
		flex: 0 0 48px;

		display: flex;

		img {
			object-position: center;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 14px;
		text-transform: uppercase;
		color: #3C3C3C;

	}
}

.switch {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 18px;

	&__wrap {
		display: flex;
		align-items: center;
	}

	&__title {

		text-transform: uppercase;
	}

	&__tooltip {
		translate: 0 -50%;
	}

}

.item {
	font-style: italic;
	font-size: 12px;
	font-weight: 300;
}

.btn {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
	padding: 8px !important;
	height: 35px !important;
	border-radius: 10px !important;

	&::before {
		padding: 2px !important;
	}
}

.table {
	&__head {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 10px;
		gap: 1rem;
	}


}
.goBack{
	padding-top: 12px;
}
.tabs {

	&__btns {
		display: flex;
		gap: 35px;
		overflow-x: auto;
	}

	&__btn {
		cursor: pointer;
		padding: 14px;
		text-transform: uppercase;
		font-size: 18px;
		border-radius: 12px;
		border: 1px solid #E5E5E5;
		position: relative;
		outline: none;

		@media(max-width:767.98px) {
			font-size: 16px;

		}

		&:hover,
		&.active {
			border-color: transparent;

			&::before {
				box-shadow: 0px 5px 10px 0px rgba(149, 149, 149, 0.20);
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				height: 100%;
				padding: 2px;
				border-radius: 12px;
				content: '';
				background: linear-gradient(to right, #4757e6, #8E54E9 50%, #F90B9A 100%);
				-webkit-mask: linear-gradient(#fff 0 0) content-box,
					linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}
		}
	}

	&__body {}
}

.tabTable {
	height: 385px;

}


.wrapper {
	background: linear-gradient(45deg, #D585FF, #00FFEE);
	height: 100vh;
}

.block {
	position: relative;
	min-height: 511px;

	&.show {
		.front {

			transform: perspective(600px) rotateY(-180deg);
		}

		.back {
			transform: perspective(600px) rotateY(0);

		}
	}
}

// .card {
// 	width: 340px;
// 	height: 480px;
// 	cursor: pointer;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);

// 	&:hover {
// 		.front {
// 			transform: perspective(600px) rotateY(-180deg);
// 		}

// 		.back {
// 			transform: perspective(600px) rotateY(0);
// 		}
// 	}
// }

.front,
.back {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; // For Safari
	transition: transform .5s ease;
	background-color: #fff;
}

.front {
	transform: perspective(600px) rotateY(0);
	overflow-y: auto;
	position: static;
	&::-webkit-scrollbar {
		width: 2px;
	
	  }
}

.back {
	transform: perspective(600px) rotateY(180deg);
}