.upliner {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding: 40px;

	@media(max-width:1350px) {
		padding: 2rem;
	}

	@media(max-width:767.98px) {
		gap: 50px;
		padding: 30px 16px;
	}

	&__title {
		text-align: center;
		font-weight: 700;
		letter-spacing: 0.02em;

		span {
			background: linear-gradient(90deg, #4757E6 0%, #8E54E9 48.44%, #FA0A9A 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

		}
	}

	&__counters {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		@media(max-width:767.98px) {
			flex-direction: column;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		gap: 2rem;

		@media(max-width:767.98px) {
			flex-direction: column;
		}
	}

	&__btn {
		flex: 1;
		text-transform: uppercase;
		font-size: 1.125rem;
		white-space: nowrap;
		padding: 0.875rem;

		&::before {
			padding: 2px;
		}
	}
}

.item {
	text-align: center;

	&__count {
		color: var(--Value-Color, #0B1354);
		font-size: 36px;
		font-weight: 600;
		letter-spacing: -1.35px;
	}

	&__text {
		color: #4F4F4F;
	}
}

.douChart {
	width: 473px;
	height: 170px;

	@media(max-width:767.98px) {
		width: 100%;
	}
}

.tabs {
	&__navbar {
		display: flex;
		align-items: center;
		border-radius: 1rem;
		border: 1px solid var(--Stroke-Input, #B7B7B7);
		margin-bottom: 3.75rem;

		@media(max-width:767.98px) {
			margin-bottom: 50px;
		}
	}

	&__btn {
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		cursor: pointer;
		outline: none;
		padding: 20px;
		flex: 1;
		border-radius: 1rem;

		&.selected {
			color: var(--light);
			background: linear-gradient(to right, var(--gradient));
		}

		@media(max-width:767.98px) {
			padding: 20px 10px;
			font-size: 12px;
		}
	}
}