.change {
	margin: 0 auto;
	max-width: 716px;
	width: 100%;
	padding: 39px 40px 57px;
	height: 100%;

	&__title {
		text-align: center;
		color: #000;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

}

.form {
	display: flex;
	flex-direction: column;
	gap: 13px;
	align-items: center;


	&__item {
		max-width: 286px;
	}

	&__pinCode {
		padding-top: 12px;
		margin-bottom: 61px;

		label {
			margin-bottom: 25px;
			color: #000;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: none;
		}
	}

	&__submit {
		margin-top: auto;
	}
}