:root {
	--darkText: #262626;
	--black: #000;
	--white: #f4f4f4;
	--grey: #3C3C3C;
	--light: #fff;
	--blue: #b4d1ec;
	--gradient: #4757e6 0%, #8e54e9 48.44%, #fa0a9a 100%;
	--green: #4ac201;
	--lightGreen: #26A17B;
	--electric-violet: #4776E6 0%, #8E54E9 100%;
	--title18: 18px;
}